@font-face {
    font-family: 'Averta Demo PE Cutted Demo';
    src: url(./fonts/FontsFree-Net-AvertaDemoPECuttedDemo-Regular.ttf);
}
@font-face {
    font-family: 'Proxima Nova';
    src: url(./fonts/FontsFree-Net-ProximaNova-Regular.ttf);
}

*{
    box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
    header ul{
        display: inline !important;
    }
    .section1_container p{
        width: fit-content !important;
    }
    .section1_container{
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .titles{
        font-size: 32px !important;
        margin-bottom: 10px !important;
    }
    .section1_container button{
        width: 100%;
        margin-bottom: 0 !important;
    }
    .logos{
        display: block !important;
        text-align: center;
    }
    .logos p{
        width: fit-content !important;
        text-align: left !important;
    }
    .logos img{
        display: inline !important;
        margin-top: 20px !important;
        margin-right: 10px !important;
    }
    .links h3{
        margin-bottom: 7px !important;
        margin-top: 20px !important;
    }
    .section3{
        padding: 0 !important;
        margin-top: 3rem !important;
    }
    .business_text{
        width: fit-content !important;
    }
    .helping_ideas{
        width: fit-content !important;
    }
    
}

header ul{
    margin-left: auto;
    gap: 60px;
}

header a{
    font-family: 'Averta Demo PE Cutted Demo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #000000;
    text-decoration: none;
}
header span{
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 27.1472px;
    line-height: 33px;
    color: #000000;
}
header p{
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 500;
    font-size: 27.1472px !important;
    line-height: 33px;
    color: #000000 !important;
}
header button{
    background-color: grey !important;
}

.dots{
    left: -40px;
    bottom: 101px;
    z-index: -1;
}
.friends{
    z-index: -1;
}
.circle{
    position: absolute;
    width: 129px;
    height: 129px;
    right: 688px;
    top: 0;
    border-radius: 50%;
    background: #DAE9FF;
    z-index: -1;
}
.rectangle{
    position: absolute;
    width: 178px;
    height: 178px;
    right: 120px;
    top: 440px;
    background: #FFF5DB;
    border-radius: 0px 0px 100px 0px;
    z-index: -1;
}

.section1_container{
    padding-top: 123px;
    padding-bottom: 101px;
}
.titles{
    font-family: 'Averta Demo PE Cutted Demo';
    font-style: normal;
    font-size: 40px;
    font-weight: 600 !important;
    line-height: 49px;
    color: #000000;
    margin-bottom: 40px;
}
.section1_container p{
    width: 471px;
    font-family: 'Averta Demo PE Cutted Demo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #565656;
    margin-bottom: 33px;
}
.section1_container button{
    background: #2639ED;
    border: none;
    border-radius: 60px;
    padding: 20px 40px;
    margin-bottom: 119px;

    font-family: 'Averta Demo PE Cutted Demo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.065em;
    color: #FFFFFF;
}
.logos{
    display: flex;
    gap: 60px;
}
.amazon{
    margin-top: 20px;
}
.logos p{
    width: 336px;
    margin: 0;
}
.title2{
    margin-bottom: 17px !important;
}

.section3{
    margin-top: 94px;
    padding-top: 360px;
    padding-bottom: 327px;
}
.help_container{
    width: 1047px;
    height: 619px;
    top: 140px;
    background: #F4F9FF;
    border-radius: 150px 0px 0px 0px;
    z-index: -1;
}
.helping_ideas{
    width: 308px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
    border-radius: 40px;
    padding: 39px 31px 57px 31px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.colorful_square1{
    width: 121px;
    height: 121px;
    background: #F1F7FF;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.texts{
    text-align: center;
}
.texts h5{
    margin-top: 31px;
    margin-bottom: 27px;
    font-family: 'Averta Demo PE Cutted Demo';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}
.texts p{
    font-family: 'Averta Demo PE Cutted Demo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #757575;
    margin: 0;
}
.pink_circle{
    border: 8.8px solid #FF007A;
    background-color: transparent;
    right: 143px;
    bottom: 60px;
    z-index: -2;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.dotts{
    right: 910px;
    bottom: 95px;
    z-index: -2;
}

.business_text{
    width: 396px;
    font-family: 'Averta Demo PE Cutted Demo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #565656;
}
.rect{
    width: 178px;
    height: 178px;
    left: 70px;
    top: 300px;
    z-index: -1;
    background: #FFF5DB;
    border-radius: 0px 0px 100px 0px;
    transform: rotate(-180deg);
    }

.section4{
    margin-top: 146px;
}


hr{
    border: 1px solid #E4E4E4;
}
footer{
    margin-top: 146px;
}
.footer_logo span{
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 27.1472px;
    line-height: 33px;
    color: #000000;
}
.footer_logo{
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 500;
    font-size: 27.1472px !important;
    line-height: 33px;
    color: #000000 !important;
    margin-bottom: 26px;
}
.footer_description{
    width: 270px;
    font-family: 'Averta Demo PE Cutted Demo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #565656;
}
.links{
    flex-direction: column;
    text-align: left;
}
.links h3{
    font-family: 'Averta Demo PE Cutted Demo';
    font-style: normal;
    font-weight: 400 !important;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    margin-bottom: 24px;
}
.links a{
    text-decoration: none;
    font-family: 'Averta Demo PE Cutted Demo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    color: #000000;
}
.last_text{
    text-align: center;
}
.last_text p{
    font-family: 'Averta Demo PE Cutted Demo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #A4A4A4;
}