@font-face {
    font-family: 'Averta Demo PE Cutted Demo';
    src: url(./fonts/FontsFree-Net-AvertaDemoPECuttedDemo-Regular.ttf);
}
@font-face {
    font-family: 'Proxima Nova';
    src: url(./fonts/FontsFree-Net-ProximaNova-Regular.ttf);
}

*{
    box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
    header ul{
        display: inline !important;
    }
    .section1_container p{
        width: fit-content !important;
    }
    .sec1_imgs{
        display: none !important;
    }
    .section1_container{
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .titles{
        font-size: 32px !important;
        margin-bottom: 10px !important;
    }
    .section1_container button{
        width: 100%;
        margin-bottom: 0 !important;
    }
    .logos{
        display: block !important;
        text-align: center;
    }
    .logos p{
        width: fit-content !important;
        text-align: left !important;
    }
    .logos img{
        display: inline !important;
        
        margin-right: 10px !important;
    }
    #rect{
        display: none !important;
    }
    .helping_ideas{
        display: none !important;
    }
    #pink_circle2{
        display: none !important;
    }
    #video{
        display: none !important;
    }
    .links h3{
        margin-bottom: 7px !important;
        margin-top: 20px !important;
    }
    .section3{
        padding: 0 !important;
        margin-top: 3rem !important;
    }
    .business_text{
        width: fit-content !important;
    }
    .helping_ideas{
        width: fit-content !important;
    }
    .section4{
        margin-top: 3rem !important;
    }
    .sec4_title{
        margin-top: 0 !important;
        margin-left: 0 !important;
        width: fit-content !important;
    }
    .sec4_text{
        width: fit-content !important;
        margin: 0 !important;
    }
    .section5{
        margin-top: 3rem !important;
    }
    .carousel-item img{
        width: 269px !important;
        height: 269px !important;
        display: block !important;
    }
    .sec5_carousel{
        display: unset !important;
    }
    .clients{
        margin: 70px 0px 0px 0px !important;   
    }
    .clients p{
        width: fit-content !important;
    }
    #sliders{
        left: 50% !important;
        transform: translateX(-50%) !important;
        top: 295px !important;
    }
    .carousel-item{
        width: fit-content !important;
    }
    .carousel-inner{
        width: fit-content !important;
    }
    .slide{
        display: flex;
        justify-content: center;
    }
    .icons{
        text-align: center;
    }
    input{
        width: 100% !important;
        padding: 15px 20px !important;
        margin-bottom: 20px !important;
    }
    .contact_button{
        transform: none !important;
        width: 100% !important;
    }
    .section6{
        margin-top: 3rem !important;
        margin-bottom: 3rem !important;
    }
    .help_container{
        background-color: transparent !important;
    }
    #sec6_div{
        text-align: left !important;
    }
    footer{
        margin-top: 3rem !important;
    }
    .for_input{
        margin-left: 0 !important;
    }
    #inp{
        background: none !important;
    }
    #shape{
        display: none !important;
    }
    #contact_button{
        display: none !important;
    }
    #cont_button{
        display: inline !important;
    }
    #yellow_rect{
        display: none !important;
    }
    .footer_description{
        width: fit-content !important;
    }
}

header ul{
    margin-left: auto;
    gap: 60px;
}

header a{
    font-family: 'Averta Demo PE Cutted Demo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #000000;
    text-decoration: none;
}
header span{
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 27.1472px;
    line-height: 33px;
    color: #000000;
}
header p{
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 500;
    font-size: 27.1472px !important;
    line-height: 33px;
    color: #000000 !important;
}
header button{
    background-color: grey !important;
}

.dots{
    left: -40px;
    bottom: 101px;
    z-index: -1;
}
.friends{
    z-index: -1;
}
.circle{
    position: absolute;
    width: 129px;
    height: 129px;
    right: 688px;
    top: 0;
    border-radius: 50%;
    background: #DAE9FF;
    z-index: -1;
}
.rectangle{
    position: absolute;
    width: 178px;
    height: 178px;
    right: 120px;
    top: 440px;
    background: #FFF5DB;
    border-radius: 0px 0px 100px 0px;
    z-index: -1;
}

.section1_container{
    padding-top: 123px;
    padding-bottom: 101px;
}
.titles{
    font-family: 'Averta Demo PE Cutted Demo';
    font-style: normal;
    font-size: 40px;
    font-weight: 600 !important;
    line-height: 49px;
    color: #000000;
    margin-bottom: 40px;
}
.section1_container p{
    width: 471px;
    font-family: 'Averta Demo PE Cutted Demo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #565656;
    margin-bottom: 33px;
}
.section1_container button{
    background: #2639ED;
    border: none;
    border-radius: 60px;
    padding: 20px 40px;
    margin-bottom: 119px;

    font-family: 'Averta Demo PE Cutted Demo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.065em;
    color: #FFFFFF;
}
.logos{
    display: flex;
    gap: 60px;
}
.amazon{
    margin-top: 20px;
}
.logos p{
    width: 336px;
    margin: 0;
}
.title2{
    margin-bottom: 17px !important;
}

.section3{
    margin-top: 94px;
    padding-top: 360px;
    padding-bottom: 327px;
}
.help_container{
    width: 1047px;
    height: 619px;
    top: 140px;
    background: #F4F9FF;
    border-radius: 150px 0px 0px 0px;
    z-index: -1;
}
.helping_ideas{
    width: 308px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
    border-radius: 40px;
    padding: 39px 31px 57px 31px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.colorful_square1{
    width: 121px;
    height: 121px;
    background: #F1F7FF;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.texts{
    text-align: center;
}
.texts h5{
    margin-top: 31px;
    margin-bottom: 27px;
    font-family: 'Averta Demo PE Cutted Demo';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}
.texts p{
    font-family: 'Averta Demo PE Cutted Demo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #757575;
    margin: 0;
}
.pink_circle{
    border: 8.8px solid #FF007A;
    background-color: transparent;
    right: 143px;
    bottom: 60px;
    z-index: -2;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.dotts{
    right: 910px;
    bottom: 95px;
    z-index: -2;
}

.business_text{
    width: 396px;
    font-family: 'Averta Demo PE Cutted Demo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #565656;
}
.rect{
    width: 178px;
    height: 178px;
    right: 85%;
    top: 300px;
    z-index: -1;
    background: #FFF5DB;
    border-radius: 0px 0px 100px 0px;
    transform: rotate(-180deg);
    }

.section4{
    margin-top: 146px;
}
.play_button{
    top: calc(50% - 25px);
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.yellow_circle{
    width: 129px;
    height: 129px;
    background: #FFF5DB;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    z-index: -1;
}
.sec4_title{
    margin-top: 82px;
    margin-left: 78px;
    margin-bottom: 30px !important;
    width: 468px;
}
.sec4_text{
    margin-left: 78px;
    width: 532px;
    font-family: 'Averta Demo PE Cutted Demo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #565656;
}
.blue_rect{
    width: 178px;
    height: 178px;
    top: 58px;
    left: 39px;
    z-index: -1;
    background: #EFF1FF;
    border-radius: 0px 0px 100px 0px;
}

.section5{
    margin-top: 117px;
}
.sec5_container{
    text-align: center;
}
.sec5_container  h2{
    margin-bottom: 17px;
}
.sec5_container p{
    font-family: 'Averta Demo PE Cutted Demo';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #757575;
}
.carousel-inner{
    width:min-content !important;
}
.carousel-item img{
    width: 389px;
    height: 389px;
}
.sliders{
    left: 470px !important;
    top: 250px;
    width: fit-content;
    margin: 0 !important;
}
.slide_dots{
    width: 16px !important;
    height: 16px !important;
    background-color: blue !important;
    border-radius: 50%;
    margin-inline: 10px !important
}
.few_dots{
    right: 897px;
}
.clients{
    margin-top: 80px;
    margin-left: 90px;
}
.clients h2{
    margin-bottom: 21px;
}
.clients p{
    width: 412px;
    font-family: 'Averta Demo PE Cutted Demo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #565656;
}
.people{
    margin-top: -90px;
}
.sec5_carousel{
    display: flex;
}
.yellow_circle2{
    position: absolute;
    width: 184px;
    height: 184px;
    background: #FFF5DB;
    border-radius: 50%;
    top: 110px;
    z-index: -1;
}
.pink_circle2{
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    top: 260px;
    border: 8.8px solid #FF007A;
}

.section6{
    margin-top: 148px;
    margin-bottom: 146px;
}
.shape{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
}
.subscribe_title{
    margin-bottom: 17px;
}
input{
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.15);
    border-radius: 60px;
    width: 479px;
    padding: 30px 230px 30px 34px;
    outline: 0;
}
.for_input{
    margin-left: 180px;
}
::placeholder{
    font-family: 'Averta Demo PE Cutted Demo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #959595;
}
.contact_button{
    padding: 20px 40px;
    width: 200px;
    font-family: 'Averta Demo PE Cutted Demo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.065em;
    color: #FFFFFF;
    background: #2639ED;
    border-radius: 60px;
    top: 50%;
    transform: translateY(-50%);
    right: -110px;
    border: none;
}
#inp{
    background: #F4F9FF;
    border-radius: 75px;
    height: 292px;
    display: flex;
    align-items: center;
}
.yellow_rect{
    background: #FFF5DB;
    border-radius: 0px 0px 100px 0px;
    transform: rotate(90deg);
    bottom: -40px;
    left: -40px;
    z-index: -1;
    width: 178px;
    height: 178px;
}


hr{
    border: 1px solid #E4E4E4;
}
footer{
    margin-top: 146px;
}
.footer_logo span{
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 27.1472px;
    line-height: 33px;
    color: #000000;
}
.footer_logo{
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 500;
    font-size: 27.1472px !important;
    line-height: 33px;
    color: #000000 !important;
    margin-bottom: 26px;
}
.footer_description{
    width: 270px;
    font-family: 'Averta Demo PE Cutted Demo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #565656;
}
.links{
    flex-direction: column;
    text-align: left;
}
.links h3{
    font-family: 'Averta Demo PE Cutted Demo';
    font-style: normal;
    font-weight: 400 !important;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    margin-bottom: 24px;
}
.links a{
    text-decoration: none;
    font-family: 'Averta Demo PE Cutted Demo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    color: #000000;
}
.last_text{
    text-align: center;
}
.last_text p{
    font-family: 'Averta Demo PE Cutted Demo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #A4A4A4;
}
.twitter{
    margin-inline: 23px !important;
}